html,body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #000;
	position: relative;
}
canvas {
	background-color: #000;
	display: block;
}
#left, #right {
	position: absolute;
	top: 3px;
	padding: 3px;
	margin: 0;
	color: #CCC;
	font-size: 80px;
}
#left {
	text-align: left;
	left: 3px;
}
#right {
	text-align: right;
	right: 3px;
}
